{% extends "layout.html" %}
{% block title %}
    Sign Up
{% endblock %}

{% block main %}
    <div class="sign_up_container mt-5 w-50">
        <div class="section p-5 m-auto w-50">
            <h1 class="m-4 text-center">Join Me.Artist today</h1>
            <div class="google-sign-up w-100 m-auto">
                <button type="button" class="btn btn-secondary w-100 g-btn">
                    <img src="static/imgs/google.svg" alt="Google SVG Icon" class="icon">
                    Sign Up with Google
                </button>
            </div>
            <div class="divide mt-4 mb-3">
                <hr class="hr"><span class="span">or</span><hr class="hr">
            </div>

            <form action="/" method="post" class="form">
                <div class="form-group">
                    <span class="first_name">
                        <input type="text" id="first_name" placeholder="First Name" required autocomplete="off" name="first_name" class="form-control">
                    </span>
                    <span class="last_name">
                        <input type="text" id="last_name" placeholder="Last Name" required autocomplete="off" name="last_name" class="form-control">
                    </span>
                </div>
                <input type="email" class="form-control" name="email" required autocomplete="off" placeholder="Email">
                <input type="password" class="form-control mb-3" name="password" required autocomplete="off" placeholder="Password">
                <input type="submit" class="btn btn-info m-auto sign-up-btn" value="Sign Up">
            </form>
            <div class="sign-in-option mt-3 mb-3">
                <p>Already have an account?</p>
                <a href="url_for('sign_in')">Sign In</a>
            </div>
            <div class="m-auto policy">
                <p class="text-center">By signing up you agree to our</p>
                <p class="links"><a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
            </div>
        </div>
    </div>

{% endblock %}
